
body {
    background-color: #e0f7fa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#jumbotron {
    border-radius: 25px;
    margin-top: 60px;
    background-color: #fffde7;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

#buttonHolder {
    text-align: center;
}

.devour {
    margin: 2px;
}

.bname {
    height: 38px;
    background: #9fa8da;
    margin: 2px;
    text-align: center;
}

.bname.col.s6 {
    padding: 8px;
}

textarea.center-align.materialize-textarea {
    font-size: 30px;
}