div.container-fluid {
    max-width: 960px;
}

body {
    background-color: blanchedalmond;
}

#jumbotron {
    border-radius: 25px;
    margin-top: 60px;
    background-color: beige;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

#buttonHolder {
    text-align: center;
}

button.burger-button.btn-default.btn-md.devour {
    margin: 2px;
}

.bname {
    height: 31px;
    background: lightslategrey;
    margin: 2px;
    text-align: center;
}