
body {
    background-color: blanchedalmond;
}

#jumbotron {
    border-radius: 25px;
    margin-top: 60px;
    background-color: beige;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

#buttonHolder {
    text-align: center;
}

.devour {
    margin: 2px;
}

.bname {
    height: 38px;
    background: lightslategrey;
    margin: 2px;
    padding-top: 20px;
    text-align: center;
}